{% load static %}

<html>

    <head>

        <title> Edenthought | password reset </title>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>


        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">


        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    </head>

    <br> <br>

    <div class="container bg-white shadow-md p-5 form-layout">


        <h1>Password reset sent</h1>

        <p>we've emailed your instruction for setting a new password</p>

    </div>
    
</html>