{% extends 'journal/navbar.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <head>

        <title>Edenthought|Update Thought</title>

    </head>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h1>Update thought</h1>

        <br>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{ updatethought|crispy }}

            <br> 

            <button class="btn btn-outline-primary btn-md w-100 btn-block p-3" type="submit" > Update thought </button>

        </form>


    </div>

    <br>

{% endblock %}


